html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul, li {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
header {
  background: black;
  color: white;
  padding: 10px;
}
#main-menu ul {
  align-items: center;
  display: flex;
  justify-content: center;
}
.menu-item {
  font-size: 20px;
  background-color: white;
  color: black;
  margin: 5px;
  padding: 10px;
  border-radius: 2px;
}
body {
  display: flex;
  flex-direction: column;
  font-family: Arial;
  min-height: 100vh;
}
main {
  padding: 2.5%;
}
#photos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.rover-item {
  width: calc(50% - 10px);
  margin: 5px;
  padding: 10px;
  border-radius: 4px;
  background-color: lightblue;
}